/* Background pattern from Toptal Subtle Patterns */

body {
  background-image: url("../img/tilebg.png");
  background-repeat: repeat;

  font-family: "Roboto", sans-serif;
  font-size: 0.8em;

  margin: 0;
}

button, input, select, textarea {
  font-family: "Roboto", sans-serif;
}

hr {
  border: none;
  border-top: 1px solid #dd960e;
}

.icon-xs {
  font-size: 1em;
}

.icon-s {
  font-size: 1.35em;
}

/*******************/
/* SLIDE-OUT PANEL */
/*******************/

/* hides checkbox  */
#customization-panel-toggle {
  position: absolute;
  opacity: 0;
  display: none;
}

/* reveal panel on toggle */
#customization-panel-toggle:checked + label,
#customization-panel-toggle:checked ~ #customization-panel {
  transform: translateY(-246px); /* customization panel's height */
}

#customization-panel-toggle + label {
  background-color: #2f2f2f;

  position: fixed;
  right: 0;
  bottom: -1px;

  padding: 0 20px;
  border-radius: 3px 3px 0 0;

  color: #dddddd;

  cursor: pointer;

  transition: .5s transform;
}

/* switch arrow icon direction */
#customization-panel-toggle:checked ~ label::before {
  content: "keyboard_arrow_down";
}

#customization-panel-toggle:checked ~ label span {
  display: none;
}

#customization-panel {
  position: fixed;
  bottom: -246px;

  height: 246px;
  width: 100%;

  transition: .5s transform;

  display: flex;
  flex-direction: row;
}

/*****************/
/* Sound Library */
/*****************/

#sound-library {
  background-color: #2f2f2f;
  
  width: 20vw;
  min-width: 200px;

  padding: 15px;
  margin-right: 3px;
  
  flex: none;
}

#library-menu {
  display: flex;
}

/* Search Bar */

#search-icon {
  position: relative;
  top: 2px;
  margin-right: 5px;

  cursor: default;
}

#search-bar {
  background-color: #444444;
  color: #dddddd;

  max-height: 25px;
  vertical-align: top;

  padding: 2px 5px;
  display: inline-block;

  flex-grow: 1;
  display: flex;
}

#search-bar input[type="text"] {
  background: transparent;
  color: #dddddd;

  width: 100%;

  border: none;
  outline: none;

  flex-grow: 1;
  flex-shrink: 3;
}

#clear-icon {
  margin-left: 3px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  cursor: pointer;
}

/* Directory Buttons */

.orange-btn {
  background: transparent;
  color: #dd960e;

  min-width: 25px;
  min-height: 25px;
  padding: 0;
  margin-left: 5px;

  border: 1px solid #dd960e;
  border-radius: 2px;
  outline: none;

  cursor: pointer;
}

/* Directory Listing */

#root-directory {
  padding-left: 0;
}

.directory-listing {
  color: #dddddd;
  list-style-type: none;
}

.directory-listing > li .icon-s {
  color: #dd960e;
  vertical-align: middle;
}

.directory-listing > li {
  margin: 3px 0;
}

/**************************/
/* Customization Settings */
/**************************/

#customization-settings {
  background-color: #2f2f2f;
  color: #dddddd;

  padding: 15px;

  flex: auto;
}

.heading {
  position: relative;
  bottom: -8px;

  margin-top: 10px;

  color: #dd960e;
  font-size: 0.9em;
  font-weight: lighter;
  letter-spacing: 0.2em;
}

.setting-item {
  position: relative;

  margin: 8px 0;

  display: block;
}

/* Selected Key & Track Name */

#selected-key-indication {
  background-color: #222222;
  
  color: #dddddd;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  vertical-align: top;
  line-height: 25px;

  width: 25px;
  height: 25px;

  display: inline-block;
}

#track-name-input {
  background-color: #444444;

  color: #dddddd;

  width: 159px;
  height: 25px;
  padding: 0 8px;

  border: none;
}

#track-name-input:focus {
  outline: solid 1px #dd960e !important;
}

/* Dropdown */

#launch-setting label {
  margin-right: 5px;
}

#launch-setting select {
  cursor: pointer;
}

#launch-mode {
  background-color: #444444;
  color: #dddddd;

  padding: 2px 3px;
  border: none;
}

#launch-mode:focus {
  outline: solid 1px #dd960e;
}

/* Checkbox */

#loop-setting label {
  cursor: pointer;
}

/* hides checkbox */
#loop-setting label input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;

  width: 0;
  height: 0;

  visibility: hidden;
}

/* style custom checkbox */
.checkbox {
  background-color: #444444;

  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 2px;

  display: inline-block;
}

#loop-setting input[type=checkbox]:checked ~ .checkbox {
  background-color: #dd960e;
}

/* style custom checkmark */
.checkmark {
  visibility: hidden;

  position: absolute;
  margin-left: 3px;

  width: 3px;
  height: 6px;
  border: solid #222222;
  border-width: 0 2px 2px 0;

  display: inline-block;

  transform: rotate(45deg);
}

#loop-setting input[type=checkbox]:checked ~ .checkbox .checkmark {
  visibility: visible;
}

/* Color Code Input */

#track-color-setting label {
  margin-right: 5px;
}

#light-color-setting label {
  margin-right: 8px;
}

.color-input {
  background-color: #444444;

  padding: 2px 5px;
  display: inline-block;
}

.color-input input[type="text"] {
  background: transparent;
  color: #dddddd;

  width: 55px;
  margin-left: -2px;

  border: none;
  outline: none;
}

/* Color Preview */

.color-preview {
  background-color: #dd960e;

  width: 22px;
  height: 22px;
  vertical-align: top;
  
  border: 2px solid #444444;
  outline: none;

  cursor: pointer;
}

/* Color Picker */

.color-picker {
  background-color: #222222;

  position: absolute;
  bottom: 2px;

  padding: 8px;
  
  display: inline-block;

  border-radius: 3px;
}

/* bubble triangle */
.color-picker:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;

  width: 0;
  height: 0;
  margin-left: -6px;

  border: 8px solid transparent;
  border-right-color: #222222;
  border-left: 0;
}

.color-palette {
  display: grid;
  grid-template-columns: repeat(7, 18px);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.color {
  background-color: #dd960e;

  width: 18px;
  height: 18px;

  border: none;
  outline: none;

  cursor: pointer;
}

.color:hover {
  border: solid 2px #ddd;
}

/* Color Palette */

.light-pink { background-color: #db739e; }
.pink { background-color: #d53074; }
.dark-pink { background-color: #891e4b; }

.light-red { background-color: #dc7b77; }
.red { background-color: #d43c36; }
.dark-red { background-color: #882623; }

.light-orange { background-color: #e2b45e; }
.orange { background-color: #dd960e; }
.dark-orange { background-color: #8d6009; }

.light-yellow { background-color: #deca7c; }
.yellow { background-color: #d9b93e; }
.dark-yellow { background-color: #8b7627; }

.light-green { background-color: #b3d384; }
.green { background-color: #94c64a; }
.dark-green { background-color: #5e7e2f; }

.light-blue { background-color: #79bfd6; }
.blue { background-color: #39a6ca; }
.dark-blue { background-color: #256b81; }

.light-purple { background-color: #ab7ebb; }
.purple { background-color: #924aab; }
.dark-purple { background-color: #5d2f6c; }
