/* Background pattern from Toptal Subtle Patterns */

body {
  background-image: url("../img/tilebg.png");
  background-repeat: repeat;

  font-family: "Roboto", sans-serif;

  margin: 0;
}

/*******************/
/* SLIDE-OUT PANEL */
/*******************/

/* hides checkbox  */
#customization-panel-toggle {
  position: absolute;
  opacity: 0;
  display: none;
}

#customization-panel-toggle:checked + label,
#customization-panel-toggle:checked ~ #customization-panel {
  transform: translateY(-30vh);
}

#customization-panel-toggle + label {
  background-color: #2f2f2f;

  position: fixed;
  right: 0;
  bottom: -1px;

  padding: 0 20px;
  border-radius: 3px 3px 0 0;

  color: #dddddd;

  transition: .5s transform;
}

/* switch arrow icon direction */
#customization-panel-toggle:checked ~ label::before {
  content: "keyboard_arrow_down";
}

#customization-panel-toggle:checked ~ label .icon {
  display: none;
}

#customization-panel {
  position: fixed;
  bottom: -30vh;

  height: 30vh;
  width: 100%;

  transition: .5s transform;

  display: flex;
  flex-direction: row;
}

/* Sound Library */

#sound-library {
  background-color: #2f2f2f;
  
  width: 20vw;
  min-width: 200px;

  margin-right: 3px;
  
  flex: none;
}

/* Customization Settings */

#customization-settings {
  background-color: #2f2f2f;

  flex: auto;
}
